.chatinfo {
  height: 50px;
  background-color: #bae6fd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: blue;
}

.chaticons {
  display: flex;
  gap: 10px;
}

.chaticons img {
  height: 30px;
  cursor: pointer;
}
